@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

html {
  @apply text-pts-blue-dark
}

html{
  font-family: 'Tajawal', sans-serif;
  scroll-behavior: smooth;
}

#hero{
  background-color: #ffffff;
  opacity: 0.8;
  background-image:  radial-gradient(#717171 0.5px, transparent 0.5px), radial-gradient(#717171 0.5px, #ffffff 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}
